.header {
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
    margin-right: 75px;
    margin-left: 75px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: middle;
    transition: transform 0.4s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: middle;
}

footer {
    position: absolute; 
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    bottom: 0; 
    left: 0;
    right: 0;
    font-size: 15px;
    font-weight: lighter;
}

footer a {
    color: #ffffff;
    text-decoration: underline;
}

@keyframes bob {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}


/* RESPONSIVENESS */
@media screen and (max-width: 768px) {
    .navbar {
        justify-content: space-between;
    }

    .nav-link {
        margin: 0;
        padding: 10px;
        border-radius: 25px;
    }

    footer {
        padding: 10px 0;
    }
}


