.header {
    /* background-color: #270000; */
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    display: inline-block;
    position: relative;
    /* color: #0087ca; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    padding: 15px;
    margin-top: 5px;
    margin-right: 75px;
    margin-left: 75px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0091ff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


footer {
    position: absolute; /* Change to absolute positioning */
    width: 100%;
    color: #ffffff;
    /* background-color: #001627;  */
    text-align: center;
    padding: 20px;
    bottom: 0; /* Position at the bottom */
    left: 0;
    right: 0;
    font-size: 14px;
}

footer a {
    color: #ffffff;
    text-decoration: underline;
}

@keyframes bob {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 10vw;
        margin-top: 10vh;
        justify-content: center;
    }

    .scroll {
        padding: 10px;
        font-size: 4vw;
    }

    .navbar {
        justify-content: space-between;
    }

    .nav-link {
        margin: 0;
        padding: 10px;
        border-radius: 25px;
    }

    footer {
        padding: 10px 0;
    }

    .logo {
        display: none;
    }

    .content h1{
        font-size: 3vw;
        padding: 10px;
    }
}


